@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* font-family: 'Courgette', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive; */

body {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

#Navbar a{
    color: white;
    font-size: larger;
    transform: scale(1.1);
}

#Navbar a:hover{
    color: orangered;
    transform: scale(1);
    font-family: 'Courgette', cursive;
}

/*Intro */
#intro img{
    transform: scale(1);
}

#intro img:hover{
    transform: scale(1.1) ;
    transition: ease-in-out 1s;
}

/* About */
#about h3, #education h3{
    border-bottom: 4px solid orangered ;
    display: inline-block;
    border-bottom-style: ridge;
}

.resume{
    background-color: rgb(88, 87, 87);
    border-radius: 0;
    box-shadow: 2px 2px rgb(99, 98, 98);
}

.resume:hover{
    background-color: orangered;
    color: white;
    box-shadow: 2px 2px rgb(211, 83, 36);
}

/* Education */
.p1{
    color: rgb(199, 190, 190);
    font-size: 0.8rem;
}

.p2{
    color: whitesmoke;
    font-size: 0.9rem;
}
/* Media Queries */
@media only screen and (max-width: 775px) {
    #Navbar, #intro{
        display: flex;
        flex-direction: column;
    }

  }