@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* font-family: 'Courgette', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive; */

body {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

#Navbar a{
    color: white;
    font-size: larger;
    transform: scale(1.1);
}

#Navbar a:hover{
    color: orangered;
    transform: scale(1);
    font-family: 'Courgette', cursive;
}

/* About */
#about img{
    transform: scale(.9);
}

#about img:hover{
    transform: scale(1) ;
    transition: ease-in-out 1s;
}

/* Media Queries */
@media only screen and (max-width: 775px) {
    #Navbar{
        display: flex;
        flex-direction: column;
    }

    #about{
        display: flex;
        flex-direction: column;
    }

    #about div{
        margin-left: auto;
        margin-right: auto;
    }
  }