@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* font-family: 'Courgette', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive; */

body {
    font-family: 'Oswald', sans-serif;
}

#Navbar a{
    color: white;
    font-size: larger;
    transform: scale(1.1);
}

#Navbar a:hover{
    color: orangered;
    transform: scale(1);
    font-family: 'Courgette', cursive;
}

/*Intro */
#intro img{
    transform: scale(1);
}

#intro img:hover{
    transform: scale(1.1) ;
    transition: ease-in-out 1s;
}

/* About */
#about h3, #education h3, #experience h3, #skills h3, #projects h3{
    border-bottom: 4px solid orangered ;
    display: inline-block;
    border-bottom-style: ridge;
}

.resume{
    background-color: rgb(88, 87, 87);
    border-radius: 0;
    box-shadow: 2px 2px rgb(99, 98, 98);
}

.resume:hover{
    background-color: orangered;
    color: white;
    box-shadow: 2px 2px rgb(211, 83, 36);
}

/* Education */
.p1{
    color: rgb(199, 190, 190);
    font-size: 0.8rem;
}

.p2{
    color: whitesmoke;
    font-size: 0.9rem;
}

/* Experience */
.h{
    color: rgb(175, 173, 173);
}

.p{
    color: rgb(221, 219, 219);
    font-size: 0.8rem;
}

.span1{
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
}

.span2{
    color: rgb(245, 240, 240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

/* Skills */
.skillsIcon{
    animation: mymove 5s ease-in-out infinite;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 160px;}
  }

/* Projects */
.card{
    box-shadow: 5px 5px rgb(99, 98, 98);
    transform: scale(0.97);
    cursor: pointer;
}

.card:hover{
    transform: scale(1);
    transition: ease-in-out 0.6s;
}

.hCard{
    color: rgb(44, 118, 143);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pCard{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Contact */
#contact {
    font-size: 2rem;
}

.i{
    transform: scale(1);
}

.i:hover{
    transform: scale(1.2) ;
    color: black;
}

/* Media Queries */
@media only screen and (max-width: 775px) {
    #Navbar, #intro{
        display: flex;
        flex-direction: column;
    }

    .skillsIcon{
        margin-right: 2rem;
        margin-left: 2rem;
    }

  }